.resume-container {
  background-color: #e5f1fa;
  margin-left: auto;
  width: 60%;
  min-width: 600px;
  height: 800px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.4);
}

#header-container {
  background-color: #213657;
  color: whitesmoke;
  padding: 24px 40px 24px 24px;
}

#name-container {
  text-align: right;
}

#header-info-container {
  font-size: 1rem;
}

#header-info-top-column {
  display: flex;
  gap: 10px;
  justify-content: end;
}

#header-info-bottom-column {
  padding-top: 2px;
  text-align: end;
}

#education-container,
#experience-container {
  padding: 24px 36px 0 36px;
}

#education-container > h3,
#experience-container > h3 {
  width: 100%;
  padding: 4px;
  text-align: center;
  background-color: #d6e6f3;
  color: #213657;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.2);
}

#resume-info-container {
  padding: 20px 0 0 0;
  display: flex;
  gap: 16px;
  color: #213657;
}
